body {
	margin:0;
	padding:0;
	font-size: 18px;
  background-image: url(../View/Images/aboriginalPattern1.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.main {
  margin-top: 3%;
}

header.container-fluid {
  padding: 0;
  margin: 0;
  background-color: White;
  color: black;
  border: solid black 1px;
}

.active span {
  font-style: oblique;
  font-weight: bold;
}

.blank {
  padding: 0;
  margin: 0;
}

div.navbar {
  padding: 0;
  margin: 0;
  height: 100%;
}

.navImg {
  max-width: 60%;
}

.navImgText {
  max-width: 20%;
}

#navicon {
  margin: 0;
  padding: 0;
  float: left;
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
  height: 100%;
}

#navicon:hover {
  background-color: lightgrey;
  color: white;
}

form {
  align-self: center;
  text-align: center;
}

#signinForm {
  padding: 2%;
  margin: 2%;
  background-color: #C5AB70;
  border-radius: 10px;
}

.btn {
  background-color: #B03F27;
  border-color: #B03F27;
}

.animation {
    display: flex;
    justify-content: space-evenly;
}

.indigenous {
    background-image: url(../View/Images/select.jpg);
    size: 4em;
}

.content {
  background-image: url(../View/Images/backgroundimg.jpg);
  padding: 0px;
  margin: 0px;
	height: ;
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 100vw;
}

footer {
  width: 100%;
  height: 40px;
  background-color: black;
  color: white;
  overflow: hidden;
  bottom: 0;
  position: fixed;
}

/***************************Map*********************************/

#map {
		width: 60vw;
		height: 60vh;
		margin: 0 auto;
		box-shadow: rgba(0,0,0,0.5) 0 5px 10px;
		/* https://css-tricks.com/fun-viewport-units */
}

#marker-details {
		text-align: center;
		margin-top: 2em;
}

/***************************Home*********************************/

.HomeContent {
	background-image: url(../View/Images/backgroundimg.jpg);
	background-repeat: no-repeat;
	height: 100%;
}

.manselect {
  display: flex;
  justify-content: space-around;
}

.manfig {
  height: 10%;
  margin: 2% 2%;
}

.manfig-2 {
  height: 10%;
  margin: 2% 2%;
}

.selection {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

/* button {
  background: #b8e994;
  width: 100%;
  height: 150%;
  border-radius: 5px;
  text-align: center;
  color: white;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
} */

button:hover {
  background: green;
  transition: all 0.8s ease;
}



/***************************Story book*********************************/



.flipbook-viewport{
	overflow: hidden;
	width:100%;
	height:100%;
}

.flipbook-viewport .container{
	position:absolute;
	top:11%;
	left:11%;
	margin:auto;
}

.flipbook-viewport .page{
	background-color:rgb(247, 236, 202);
	background-repeat:no-repeat;
	background-size:100% 100%;
}

/* .flipbook .page{
	width:400px;
	height:600px;
	} */

.flipbook .page{
	-webkit-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-moz-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-ms-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-o-box-shadow:0 0 20px rgba(0,0,0,0.2);
	box-shadow:0 0 20px rgba(0,0,0,0.2);
}

.flipbook .title h2{
margin: 10%;
}

/* .flipbook-viewport .page img{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin:0;
} */

.flipbook-viewport .shadow{
	-webkit-transition: -webkit-box-shadow 0.5s;
	-moz-transition: -moz-box-shadow 0.5s;
	-o-transition: -webkit-box-shadow 0.5s;
	-ms-transition: -ms-box-shadow 0.5s;

	-webkit-box-shadow:0 0 20px #ccc;
	-moz-box-shadow:0 0 20px #ccc;
	-o-box-shadow:0 0 20px #ccc;
	-ms-box-shadow:0 0 20px #ccc;
	box-shadow:0 0 20px #ccc;
}

.onpage{
	line-height: 250%;
	letter-spacing: 1px;
	display:inline-block;
}

.padding-style{
	padding:50px;
}


/*--------------------------------------- fliper card ------------------------------------------*/
/* add 3D effects*/
.flip-container {
    perspective: 10000;
}


.flip-container:hover .flipper {
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
    width: 7em;
    height:5em;
	border-radius: 1em;
}



.flipper img{
	border-radius: 1em;
	width: 100%;
	height: 100%;
}


.flipper {
    transition: 1s;
    transform-style: preserve-3d;

    position: relative;
}

.front, .back {
    backface-visibility: hidden;
    position: absolute;
}



.back {
    transform: rotateY(180deg);
    background: white;
    opacity: 0.7;



}


.front {


    transform: rotateY(0deg);
}

/* position the container of the flip box */
.flip-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

#back-img{
	border-radius: 1em;
	width: 40%;
	height: 40%;

}
.eng-meaning{
	font-size: 14px;
}

.abori-word{
  line-height:1;
  padding: 40%;

}


/* storyEntry */


/* Dictionary entry */

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}
th, td {
  padding: 15px;
}
.fixed_header{
  width: 400px;
  table-layout: fixed;
  border-collapse: collapse;
}

.fixed_header tbody{
overflow: auto;
height: 100px;
}

.fixed_header thead {
background: black;
color:#fff;
}

.fixed_header th, .fixed_header td {
padding: 5px;
text-align: left;
width: 200px;
}
/* Dictionary entry */


/*----user profile---- */

fieldset {
  margin-bottom: 2em;
  padding: 0em 2em;
  border: 0;
  border-radius: 10px;
  background: white;
  display: block;
}

#profileHeader {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 0.5em 1em;
  margin: 3% 1em;
  border-radius: 10px;
  color: white;
  background: rgb(194, 77, 30);
}

fieldset .form-item {
  display: flex;

}

fieldset .form-item > label {
  font-weight: bold;
  width: 25%;
  padding-right: 2em;
  text-align: right;
  text-shadow: rgba(0,0,0,0.3) 3px 3px 5px;
}
fieldset .form-item .form-element {
  width: 60%;
}

fieldset .form-item .form-element > label {
display: block;
}

input[type=text],
input[type=password], textarea {
  box-shadow: rgba(0,0,0,0.15) 3px 3px 5px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 15px;
  width: 100%;
  font-size: 0.9em;
}

input[type=text]:focus，
input[type=password]:focus {
  border-color:rgb(194, 77, 30);
}

.btn-btn-primary {
  font-weight: bold;
  font-size: 1.3em;
  background: black;
  padding: 0.5em 1em;
  color: white;
  border: 0;
  border-radius: 10%;
  background: rgb(194, 77, 30);
  cursor: pointer;
  float: right;
}


/* The switch - the box around the slider */



/* avatar */
.avatar {
  max-width: 960px;
  margin: 10% auto;
  padding: 20px;
}


.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 15% auto;}

.avatar-edit {
      position: absolute;
      right: 12px;
      z-index: 1;
  top: 10px;}

.avatar-edit input {
display: none;}

.avatar-edit label {
display: inline-block;
width: 34px;
height: 34px;
margin-bottom: 0;
border-radius: 100%;
background: #FFFFFF;
border: 1px solid transparent;
box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
cursor: pointer;
font-weight: normal;
transition: all .2s ease-in-out;}

.avatar-edit label:hover {
background: #f1f1f1;
border-color: #d6d6d6;
}

.avatar-edit label:after {
content: "\f040";
font-family: 'FontAwesome';
color: #757575;
position: absolute;
top: 10px;
left: 0;
right: 0;
text-align: center;
margin: auto;
}



.avatar-preview {
width: 192px;
height: 192px;
position: relative;
border-radius: 100%;
border: 6px solid #F8F8F8;
box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);}

.avatar-preview > div {
width: 100%;
height: 100%;
border-radius: 100%;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

/* --storyEntry-- */

#entry{
	text-align:center;
	background-color:#1c1b1b;
}

#entry img{
	width: 80%;
}

.container {
  position: relative;
  display: flex;
  }

#entry, #entry1,#entry2{
	position: absolute;
}

#entry1{
	z-index: 1000;
	border: blue;
	margin: 24% 0 0 39%;
	cursor: pointer;
}

#entry2{
	z-index: 1000;
	border: rgb(3, 146, 39);
	margin: 17% 0 0 58%;
	cursor: pointer;
}

#entry3{
	z-index: 1000;
	border: rgb(3, 146, 39);
	margin: 9% 0 0 52%;
	cursor: pointer;
}

#entry1 img{
	width: 10%;
	border-radius: 100%;
	border:0.7vh solid rgb(184, 196, 17);
	box-shadow: 0 0 0 0.8vh rgb(165, 50, 5), 0 0 0 1.5vh rgb(46, 54, 165);
	position: relative;
	transition: transform .2s;
}

#entry2 img{
	width: 16%;
	border-radius: 100%;
	border:0.7vh solid rgb(216, 216, 216);
	box-shadow: 0 0 0 0.8vh rgb(223, 72, 13), 0 0 0 1.5vh rgb(194, 119, 6);
	position: relative;
	transition: transform .2s;
}

#entry3 img{
	width: 12%;
	border-radius: 100%;
	border:0.7vh solid rgb(231, 62, 11);
	box-shadow: 0 0 0 0.8vh rgb(55, 143, 214), 0 0 0 1.5vh rgb(231, 197, 169);
	position: relative;
	transition: transform .2s;
}

.exitbutton img{
  transition: transform .2s;
}

/* maggify when hover */
#entry1 img:hover,
#entry2 img:hover,
#entry3 img:hover,
.exitbutton img:hover{
    transform: scale(1.1);
    animation-play-state: paused;
}

/* ---storyEntry-- */
.hide {
	display: none;
}
